{% load static %}
<title>Deliver&Eats | Direcciones</title>
<link
    rel="icon"
    type="image/png"
    href="{% static 'imagenes/icons/hamburger.png' %}"
/>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/direccion.css'%}" />
<link
    href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap"
    rel="stylesheet"
/>

<body>
    <div class="return-btn" style="text-align: start">
        <a class="btn btn-primary" href="../../../carrito/">Volver</a>
    </div>

    <h1>selecciona o agrega una dirección para que enviemos tu pedido</h1>

    <div id="container">
        <form action="" method="POST">
            <div id="first">
                {% csrf_token %} {% for direccion in direcciones%}
                <div class="contenido">{{direccion.descripcion_direccion}}</div>
                <button value="{{direccion.id_direccion}}" name="seleccion">
                    Seleccionar
                </button>
                {% endfor %}
            </div>
        </form>

        <form action="" method="POST">
            {% csrf_token %} {{ formulario.errors }} {{ formulario.label_tag }}
            <label for="direccion">Nueva dirección</label><br />
            {{ formulario.descripcion_direccion }}<br />
            Selecciona tu usuario {{ formulario.id_cliente}}<br />
            <input id="agregar" type="submit" name="agregar" value="Agregar" />
        </form>
    </div>
</body>
