{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{% static 'css/repartidor/index-repartidor.css' %}"
        />
        <link
            rel="stylesheet"
            href="{% static 'css/repartidor/registro-repartidor.css' %}"
        />
        <link
            rel="icon"
            type="image/png"
            href="{% static 'imagenes/icons/hamburger.png' %}"
        />
        <title>Deliver&Eats | Repartidor</title>
    </head>
    <body>
        <div class="contenedor-titulo">
            <h1 id="mensaje-bienvenida">
                Bienvenido repartidor | Deliver&Eats
            </h1>
        </div>
        <div class="contenedor">
            <div class="contenedor-menu">
                <h2>¿Qué deseas hacer?</h2>
                <a
                    href="../../../repartidor/ordenes-para-recoleccion/"
                    class="btn"
                    >Órdenes para recolección</a
                >
                <a href="../../../repartidor/ordenes-asignadas/" class="btn"
                    >Tus órdenes asignadas</a
                >
                <a href="../../../repartidor/ordenes-realizadas/" class="btn"
                    >Historial de entregas</a
                >
                <a href="../../../cerrar-sesion/" class="btn">Cerrar sesión</a>
            </div>
        </div>
    </body>
</html>
